.blog-article{
    div{
        border-color: black;
        border-radius: 5px;
        padding: 5px;
        .article-image{
            width: 100%;
            height: auto;
        }
        .tags{
            ul{
                li{
                    
                }
            }
        }
        .article-title{

        }
        .description{

        }
    }
}