header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    #logo{
        display: inline-block;
        width: 67px;
        height: auto;
        margin-right: 43vw;
        @include breakpoint(tablethorizontal) { 
            margin-right: 60px;
        }
    }
}
