.articles{
    display: flex;
    flex-direction: column;
    padding: 25px 40px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    .selected{
        display: block;
    }
    .not-selected{
        display: none;
    }
    .article-container{
        .article{
            width: 72vw;
            height: 360px;
            border: solid 0.5px black;
            background-color: #dfdfdf; 
            .articleContainer{
                color: black;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .id{
                    font-size: 11px;
                }
                .imgContainer{
                overflow: hidden;
                img{
                    padding-top: 20px;
                    width: 100%;
                    height: 200px;
                    margin-bottom: 5px;
                    object-fit: contain;
                    transition: 500ms;
                    &:hover{
                        -webkit-transform:scale(1.06);transform:scale(1.06);
                        cursor: pointer;
                    }
                }
            }
            .date{
                padding-top: 5px;
                font-size: 11px;
                display: block;
            }
            ul{
                display: flex;
                font-size: 13px;
                gap: 4px;
                align-items: center;
                list-style: none;
                .tag{
                border: solid 0.9px black;
                padding: 1px 5px;
                border-radius: 12px;
                margin-top: 5px;
                background-color: #ffffff;
                &:hover{
                    background-color: #b8b8b8;
                    cursor: pointer;
                }
                }
            }
            h2{
                margin-top: 5px;
                font-size: 17px;
                &:hover{
                    cursor: pointer;
                }
            }
            span{
                display: none;
            }
        }
        }

    }

    @include breakpoint(tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        .article{
            width: 36.8vw;
        }
    }
    @include breakpoint(tablethorizontal) {
        .article{
            width: 24vw;
            a{
                .imgContainer{
                    img{
                        margin-bottom: 0px;
                    }
                }
                .date{
                    padding-top: 0px;
                }
                
                    ul{
                        display: flex;
                        font-size: 12px;
                        gap: 3px;
                        align-items: center;
                        list-style: none;
                    }
            }
        }
    }
    @include breakpoint(desktop) {
        .article{
            width: 17vw;
            a{  
                    ul{
                        font-size: 9px;
                        gap: 3px;
                    }
                    h2{
                        font-size: 16px;
                    }
            }
        }
    }
}