    #tags{
        display: flex;
        list-style: none;
        align-items: center;
        gap: 6px;
        .categorie{
            border: solid 0.7px black;
            padding: 1px 5px;
            font-size: 11px;
            border-radius: 12px;
            background-color: #ffffff;
            &:hover{
                background-color: #b8b8b8;
                cursor: pointer;
            }
        }
        .clicked{
            background-color: #b8b8b8;
        }
    }
    @include breakpoint(tablet) {
        #tags{
            gap: 7px;
            .categorie{
                border: solid 0.7px black;
                padding: 2px 6px;
                font-size: 13px;
                margin-top: 7px;
            }
        }
    }
    @include breakpoint(tablethorizontal) {
        #tags{
            gap: 8px;
            .categorie{
                font-size: 14px;
            }
        }
    }
    
    @include breakpoint(desktop) {
       #tags{
        gap: 9px;
        .categorie{
            font-size: 15px;
        }
       }
    }
    
