.drag-area{
    border: 5px dashed #ddd;
    height: 400px;
    width: 640px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2{
        font-size: 30px;
        color: #000;
        font-weight: 500;
    }
    span{
        font-size: 25px;
        color:#000;
        font-weight: 500;
    }
    button{
        padding: 10px 25px;
        font-size: 20px;
        border: 0;
        outline: none;
        background-color: #b8b8b8;
        color: black;
        border-radius: 5px;
        cursor: pointer;
        margin: 15px;
    }
}

.drag-area.active{
    background-color: #b8d4fe;
    color: black;
    border: 2px dashed #618ac9;
}

.file-container{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;   
    border: solid 1px #ddd;
}

#preview{
    margin-top: 10px;
}

.status-text{
    padding: 0 10px;
}

.success{
    color:green;
}

.failure{
    color: red;
}