footer{
    padding: 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @include breakpoint(tablethorizontal) {
        padding: 0px 25px;           
        padding-top: 15px; 
        padding-bottom: 8px;
    }
    #socialContacts{
        ul{
            display: flex;
            flex-direction: row;
            gap: 17px;
            @include breakpoint(tablet) { 
                gap: 25px;                
            }
            @include breakpoint(tablethorizontal) { 
                gap: 30px;                
            }
            .icon{
                list-style: none;
                width: 14px;
                height: auto;
                @include breakpoint(tablet) { 
                    width: 20px;

                }
                @include breakpoint(tablethorizontal) { 
                    width: 25px;
                }
            }   
            
        }
    }
    #logo{
        position: relative;
        display: inline-block;
        width: 42px;
        height: auto;
        @include breakpoint(tablethorizontal) { 
            width: 50px;
        }
    }


    .copyright{
        margin-right: 10px;
        margin-top: 30px;
        p{
            font-size: 9px;
            @include breakpoint(tablet) { 
                font-size: 10px;
            }
            @include breakpoint(tablethorizontal) { 
                font-size: 11px;
            }
        }
    }

}