.hamburger{
    z-index: 8;
    max-width: 20px;
    margin-left: 3vw;
    margin-bottom: 5px;
    cursor: pointer;
    transition: 500ms;

    .line {
        display: block;
        width: 20px;
        height: 3px;
        margin-bottom: 4px;
        border-radius: 2px;
        background-color: black;
      }
}

@include breakpoint(tablet) {
  .hamburger {
    display: none;
  }
}