.hamburger{
    max-width: 30px;
    cursor: pointer;
    .line {
        display: block;
        width: 30px;
        height: 4px;
        margin-bottom: 7px;
        background-color: black;
      }
}

@include breakpoint(tablethorizontal) {
  .hamburger {
    display: none;
  }
}