#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 4vw;
    margin-left: 10px;
    #logo{
        position: relative;
        display: inline-block;
        width: 42px;
        margin-top: 10px;
        height: auto;
        z-index: 7;
        @include breakpoint(tablethorizontal) { 
            margin-right: 60px;
            width: 50px;
        }
        @include breakpoint(desktop) { 
            margin-right: 3vw;
        }
    }

    #ctn-searcher{
        z-index: 7;
        @include breakpoint(tablethorizontal) { 
            display: flex;
        }
        #headerSearch{
            display: none;
            @include breakpoint(tablethorizontal) { 
                display: inline-block;
                width: 25vw;
                outline: 0;
            }
        }

        #ctn-singleicon{
            display: block;
            margin-right: 4vw;
            #singleicon{
                width: 18px;
                cursor: pointer;
            } 
            @include breakpoint(tablethorizontal) { 
                display: none;

            }
        }

        #ctn-button-icon{
            display: none;
            @include breakpoint(tablethorizontal) { 
                display: block;
                margin-right: 4vw;
                background-color: rgb(204, 197, 197);
                border: 0.5px solid black;
                border-left: 0.5px;
                border-radius : 0px 10px 10px 0px;
                display: flex;
                #icon-button{
                    margin-right: 2px;
                    margin-bottom: 1.1px;
                    margin-top: 1.1px;
                    width: 13px;
                    padding: 2px;
                    cursor: pointer;
                    transition: all 300ms;
                    
                } 
                &:hover{
                    background-color: white;
                }
            }
  
        }
    
    }
}
