.newsletter{
    padding: 25px 30px;
    background-image: linear-gradient(rgb(85, 85, 85), rgb(63, 63, 63));
    color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    h3{
        font-size: 45px;
        text-align: center;
    }

    p{
        padding: 18px 50px;
        width: 88%;
    }
    #subscribe{
        padding: 15px 50px;
        display: flex;
        flex-direction: row;
        #subscriberEmail{
            margin-right: 20px;
            width: 30vw;
            height: 27px;
        }
        #subscribe_button{
            background-color: rgb(8, 8, 8);
            padding: 5px 12px;
            border-radius: 15px;
            cursor: pointer;
            &:hover{
                background-color: rgb(41, 40, 40);
            }
        }
    }
}