#searcherbox{
    display: flex;
    position: absolute;
    top: 368px;
    width: 100%;
    background-color: #fff;
    padding: 17px 0px;
    border-bottom: 0.3px solid black;
    z-index: 5;    
    transition: all 600ms;
    input{
        display: block;
        margin-left: 2.5vw;
        width: 90%;
        justify-content: center;
        padding: 10px;
        font-size: 15px;
        outline: 0;
    }
    @include breakpoint(tablethorizontal) { 
        display: none;
    }
}



