#searchresults{
    position: absolute;
    top: 532px;
    width: 100%;
    background: rgb(233, 233, 233);
    z-index: 5;
    display: none;
    li{
        list-style: none;
        a{
            display: block;
            color: #777777;
            padding: 8px 15px;
            #icon{
                width: 10px;
                height: auto;
                margin-left: 10px;
            }
            &:hover{
                background: #f3f3f3;
            }
        }

    }
}

.shownResults{
    display: block;
}

