---
import AdminLayout from "../../../layouts/AdminLayout.astro";
import CABDelete from "../../../components/React/CABDelete.jsx";
import { backendDomain } from "../../../scripts/urlDomains.js";

const getBlogsLength = await fetch(
        `${backendDomain}/api/blogs?pageSize=99999`
    );
const pagesData = await getBlogsLength.json();
const pages = pagesData.blogs.length;
---
<div class="greyScreen"></div>
<AdminLayout title="Pagina de administrador">

    <CABDelete page={pages} client:only/>
</AdminLayout>

<script>
    import "../../../scripts/authVerificator.js";
    import "../../../scripts/categorieFilter.js";
</script>