

<div class="click">
    click
</div>

<script>
    import blogRecopilator from "../../scripts/blogRecopilator.js";
    let click = document.querySelector(".click");
    click.addEventListener("click", blogRecopilator);
</script>

<style lang="scss">
    .click{
        cursor: pointer;
    }
</style>