---
import AdminLayout from "../../layouts/AdminLayout.astro";
---

<AdminLayout title="Pagina de administrador">

    <nav class="adminPages">
        <a href="/admin-pages/newBlog" class="adminPage">Crear nuevo blog</a>
        <a href="/admin-pages/delete-blog" class="adminPage">Borrar blog existente</a>
        <a href="/admin-pages/edit-blog" class="adminPage">Editar Blog existente</a>
    </nav>
    
</AdminLayout>