---
import AdminLayout from "../../layouts/AdminLayout.astro";
import Categories from "../../components/Categories.astro";
import ImagesForBlogArticles from "../../components/ImagesForBlogArticles.astro";

---

<div class="greyScreen"></div>
<AdminLayout>
  <h2 class="pageTitle">Editor de blog</h2>
  <div class="blogEditor">
    <div class="title container">Título:<br/>
       <input class="input" type="text" id="blogTitle" value="">
    </div>
    <div class="tags container">Tags:<br/>
        <Categories />
    </div>
    <div class="articleImage container">Imagen de articulo:<br/> 
      <ul class="imageOptions">

        <input type="radio" id="option1" name="option" value="" class="" checked/>
        <li class="option 1"><label for="option1">Lista de imagenes</label></li>

        <input type="radio" id="option2" name="option" value="" class=""/>
        <li class="option 2"><label for="option2">Imagen por url</label></li>
      </ul>

      <ImagesForBlogArticles />  
      <input class="second-option" type="text" id="articleImage" value="" placeholder="ingresa la url de la imagen">
    </div>

    <div class="description container">Descripcion:<br/>
      
      <input class="input" type="text" id="blogDescription" value="">
    </div>

    <div class="content container">
      Contenido: <br/>
    <textarea class="input" id="blogContent" value=""></textarea>
    </div>

    <div class="submit">
      Enviar blog
    </div>

    <div class="submitMessage">
      <p>¿Estas seguro de enviar este blog?</p>

      <div class="answer">
        <div class="yes button">Si</div>
        <div class="no button">No</div>
      </div>
    </div>

    
    <div class="submitMessage">
      <p>¡Blog creado!</p>

      <div class="answer">
        <div class="return button"><a href="./">Volver a pagina principal</a></div>
      </div>
    </div>

  </div>
</AdminLayout>

<script>
  import '../../scripts/tagsClicked.js';
  import "../../scripts/newBlogCreation.js";
  import "../../scripts/imageSelected.js";
</script>