---
import AdminLayout from "../../layouts/AdminLayout.astro";
import Categories from "../../components/Categories.astro";
import ImagesForBlogArticles from "../../components/ImagesForBlogArticles.astro";

---

<div class="greyScreen"></div>
<AdminLayout>
  <h2 class="pageTitle">Editor de blog</h2>
  <div class="blogEditor">
    <div class="title container">Título:<br/>
       <input class="input" type="text" id="blogTitle" value="">
    </div>
    <div class="tags container">Tags:<br/>
        <Categories />
    </div>
    <div class="articleImage container">Imagen de articulo:<br/> 
    <!--
    Aqui va el input para imagenes, por el momento vamos a poner diferentes opciones para escoger
      -->
      <ImagesForBlogArticles />  
    
    </div>

    <div class="content container">
      Contenido: <br/>
    <!--
    Aqui va el editor de texto, por el momento vamos a poner un espacio para texto plano
      -->
    <textarea class="input" id="blogContent" value=""></textarea>
    </div>

    <div class="submit">
      Enviar blog
    </div>

    <div class="submitMessage">
      <p>¿Estas seguro de enviar este blog?</p>

      <form class="answer">
        <div class="yes button">Si</div>
        <div class="no button">No</div>
      </form>
    </div>

    
    <div class="submitMessage">
      <p>¡Blog creado!</p>

      <div class="answer">
        <div class="return button"><a href="./">Volver a pagina principal</a></div>
      </div>
    </div>

  </div>
</AdminLayout>

<script>
  import '../../scripts/tagsClicked.js';
  import "../../scripts/newBlogCreation.js";
  import "../../scripts/imageSelected.js";
</script>