@charset "UTF-8";

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendors/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/adminLayout',
  'layout/footer';

// 5. Components
@import
  'components/articles',
  'components/categories',
  'components/footer',
  'components/hamburger',
  'components/header',
  'components/heroimage',
  'components/navigation',
  'components/newsletter',
  'components/searcherBox',
  'components/searchresults';

// 6. Page-specific styles
@import
  'pages/index',
  'pages/admin_pages/newBlog',
  'pages/blog/blogPost';

// 7. Themes
@import
  'themes/default';

*{
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  a{
    text-decoration: none;
  }
}