---
import AdminLayout from "../../../layouts/AdminLayout.astro";
import CABEdit from "../../../components/React/CABEdit.jsx";
import { backendDomain } from "../../../scripts/urlDomains.js";

const getBlogsLength = await fetch(
        `${backendDomain}/api/blogs?pageSize=99999`
    );
const pagesData = await getBlogsLength.json();
const pages = pagesData.blogs.length;

---

<div class="greyScreen"></div>
<AdminLayout title="Pagina de administrador">

    <CABEdit page={pages} client:only/>

</AdminLayout>

<script>
    import "../../../scripts/categorieFilter.js";
</script>