---
import BaseLayout from "../layouts/BaseLayout.astro";
import { currentDomain } from "../scripts/urlDomains.js";

const page = currentDomain; 
---

<BaseLayout title="About">
    <h1 class="aboutTitle">Sobre Nosotros</h1>
    <span class="aboutContent">
        <p>
            ¡Bienvenidos a nuestro Blog!

            En esta parte quiero explicar brevemente como funciona este blog por si te interesa probar sus funcionalidades.    
        </p>

        <h2>¿Quiénes Somos?</h2>

        <p>
            Creé este blog para que un administrador pueda escribir nuevos blogs, eliminar los existentes y editarlos desde la misma aplicación web. Para ello, accede a páginas de administración que solo están disponibles para usuarios con el rol de "admin".
        </p>

        <p>
            Todos los usuarios que se registran en el blog a través del "sign up" obtienen automáticamente el rol de "user". Estos pueden comentar y calificar los blogs.
        </p>
        <p>
            Si deseas probar las funciones de administrador, puedes iniciar sesión con:
            Email: admin@email.com
            Contraseña: 12345678
        </p>
        <p>
            Si accedes como administrador, después de iniciar sesión, la página te redireccionará a {page}/admin-pages. Tanto esta página como las que se acceden desde ella no están disponibles para usuarios con rol "user". Desde estas páginas, puedes crear nuevos blogs, eliminar los existentes o editarlos.
        </p>
        <p>
            Si deseas probar las funciones de usuario, puedes iniciar sesión con:
            Email: user1@email.com
            Contraseña: 12345678
        </p>
        <p>
            Las funciones del usuario incluyen comentar y calificar los blogs. Cada usuario puede calificar un blog una vez, otorgándole de 1 a 5 estrellas. Además, puede modificar su calificación posteriormente si así lo desea.
        </p>
    </span>
</BaseLayout>

