---
import HeroImage from "../components/HeroImage.astro";
import Header from "../components/Header.astro";
import SearcherBox from "../components/SearcherBox.astro";
import SearchResults from "../components/SearchResults.astro";
import Footer from "../components/Footer.astro";
import "../scripts/stylesImport.js"
import Newsletter from "../components/Newsletter.astro";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<title>Astro</title>
	</head>
	<body>
		<Header />
		<div id = "content">
		<SearcherBox />
		<SearchResults />
		<HeroImage />
		<main id="main">
		<section class="page-introduction">
			<h2>Bienvenido al nuestro blog!</h2>
			<p>La mejor información sobre fitness y bienestar en un solo lugar</p>
		</section>

		<section class="last-articles">
			<h3>Blogs recientes</h3>
			<article class="latest 1"></article>
			<article class="latest"></article>
			<article class="latest"></article>
			<article class="latest"></article>
		</section>
		</main>
		<Newsletter />
		<Footer/>
		</div>
	</body>
<script>
	import "../scripts/hamburger.js";
	import "../scripts/searcherScriptForIndex.js";
</script>

<style lang="scss">
	#main{
		padding-top: 400px;
	}
</style>

