---
import HeroImage from "../components/HeroImage.astro";
import Header from "../components/Header.astro";
import SearcherBox from "../components/SearcherBox.astro";
import Footer from "../components/Footer.astro";
import "../scripts/stylesImport.js"
import Newsletter from "../components/Newsletter.astro";
import LatestBlogs from "../components/LatestBlogs.astro";

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<title>Menu principal</title>
	</head>
	<body>
		<Header />
		<div id = "content">
		<SearcherBox />
		<HeroImage />
		<main id="main">
		<section class="page-introduction">
			<h2>Bienvenido al nuestro blog!</h2>
			<p>La mejor información sobre fitness y bienestar en un solo lugar</p>
		</section>
		<h3 class="latestBlogsTitle">Ultimos blogs</h3>
		<LatestBlogs />
		</main>
		<Newsletter />
		<Footer/>
		</div>
	</body>
	<script>
		import "../scripts/hamburger.js";
		import "../scripts/searcherScriptForIndex.js";
		import "../scripts/tokenExpiration.js";
	</script>

	<style lang="scss">
		#main{
			padding-top: 400px;
		}
	</style>
</html>

