---
import HeroImage from "../components/HeroImage.astro";
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<HeroImage />
<main id="main">
	<section class="page-introduction">
		<h2>Bienvenido al nuestro blog!</h2>
		<p>La mejor información sobre fitness y bienestar en un solo lugar</p>
	</section>

	<section class="last-articles">
		<h3>Blogs recientes</h3>
		<article class="latest 1"></article>
		<article class="latest"></article>
		<article class="latest"></article>
		<article class="latest"></article>
	</section>
</main>
</BaseLayout>
<script>
	import "../scripts/searcherScriptForIndex.js";
</script>

<style lang="scss">
	#main{
		padding-top: 400px;
	}
</style>

