---
import UserRegistration from "../layouts/User-registration.astro";
import LoginComponent from "../components/Login.astro";
---

<UserRegistration title="Log In">
    <h1>Iniciar Sesión</h1>
    <LoginComponent/>

</UserRegistration>

<script>
    import "../scripts/login.js";
</script>