---
import UserRegistration from "../layouts/User-registration.astro";
import SignupComponent from "../components/Signup.astro";
---

<UserRegistration title='Sign Up'>
    <h1>Registro</h1>
    <SignupComponent />
</UserRegistration>

<script>
    import "../scripts/signup.js";
</script>