.id{
    font-size: 10px;
}
.submmitButton-container{
    display: flex;
    justify-content: center;
    .submmitButton{
        border: 1px solid black;
        width: 220px;
        padding: 8px 5px;
        text-align: center;
        &:hover{
            cursor: pointer;
            background-color: rgb(207, 207, 207);
        }
    }
}

.confirmationWindow{
    position: fixed;
    border: 1px black solid;
    background-color: white;
    padding: 10px 15px;
    gap: 20px;
    width: 50%;
    left: 30vw;
    bottom: 50vh;
    display: none; 
    flex-direction: column;
    .answer{
        display: flex;
        gap: 100px;
        justify-content: center;
        .Button{
            border: 1px solid black;
            padding: 5px 15px;
            &:hover{
                cursor: pointer;
                background-color: rgb(207, 207, 207);
            }
        }
    }
}
.confirmationWindow.show {
    display: flex; /* Mostrar cuando se aplica la clase 'show' */
}