---
const ARTICLES =[
{
    title: 'Como hacer dieta para aumentar masa muscular',
    description: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto laboriosam dolores magni dignissimos itaque libero ipsa corrupti vitae natus. Doloremque vel atque sit illum placeat non exercitationem iure, quisquam dolorem.',
    link: '#',
    image: "../../public/pic5.jpeg",
    tags: ['Masa muscular', 'Dietas']
},
{
    title: 'Mejores ejercicios para hombros',
    description: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto laboriosam dolores magni dignissimos itaque libero ipsa corrupti vitae natus. Doloremque vel atque sit illum placeat non exercitationem iure, quisquam dolorem.',
    link: '#',
    image: "../../public/hombros.jpeg",
    tags: ['Masa muscular', 'Fuerza', "Rutinas"]
},
{
    title: 'Los alimentos con mas proteina',
    description: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto laboriosam dolores magni dignissimos itaque libero ipsa corrupti vitae natus. Doloremque vel atque sit illum placeat non exercitationem iure, quisquam dolorem.',
    link: '#',
    image: "../../public/pic5.jpeg",
    tags: ['Dietas']
},
{
    title: 'Quema 500 calorias en 30 minutos con estas rutinas HIIT',
    description: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto laboriosam dolores magni dignissimos itaque libero ipsa corrupti vitae natus. Doloremque vel atque sit illum placeat non exercitationem iure, quisquam dolorem.',
    link: '#',
    image: "../../public/hiit.jpeg",
    tags: ['Adelgazamiento', 'Rutinas']
},
{
    title: 'Como armar tu rutina de acuerdo a tus objetivos y tu contexto',
    description: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto laboriosam dolores magni dignissimos itaque libero ipsa corrupti vitae natus. Doloremque vel atque sit illum placeat non exercitationem iure, quisquam dolorem.',
    link: '#',
    image: "../../public/pic1.jpeg",
    tags: ["Rutinas"]
}
]
---

<div class="articles">

    {
        ARTICLES.map((article) => ( 
            <article class="article">
                <div class="imgContainer">
                    <img src= {article.image} alt=""/>
                </div>
                <div>
                    <ul>
                        <h4>Temas:</h4>
                        {
                            article.tags.map((tag) => ( 
                                <li class="tag">{tag}</li>
                            ))
                        }
                    </ul>
                    <h2>{article.title}</h2>
                    <span>{article.description}</span>
                </div>
            </article>
        ))
    }
</div>
 