---
---

<div class="articles">

</div>
 

<script>
    import { blogRecopilator } from "../scripts/blogRecopilator";
    
    const articles = document.querySelector(".articles");

        blogRecopilator().map((blog) => {
            const article = document.createElement("article");
            article.className = "article";
            const title = document.createElement("h2");
            article.innerHTML = 
            `
            <div class="imgContainer">
                <img src= ${blog.cardImage} alt=""/>
            </div>
            <span class="date">fecha de publicacion: ${blog.publicationDate}</span>
            `
            articles.appendChild(article);

            const tagsDiv = document.createElement("div");
            const ul = document.createElement("ul");

            blog.tags.map((tag) => {
                const li = document.createElement("li");
                li.className = "tag";
                li.innerHTML =
                `
                ${tag}
                `;
                ul.appendChild(li);
            })

            title.innerHTML = `${blog.title}`

            tagsDiv.appendChild(ul);
            tagsDiv.appendChild(title);
            article.appendChild(tagsDiv);
            articles.appendChild(article);
        })
</script>
