---
const response = await fetch(`https://apiblog-zzj1.onrender.com/api/blogs`);
const data = await response.json();
const pages = data.pages;
const pagesArray = []; 

for (let i = 1; i <= pages; i++) {
    pagesArray.push(i)        
}
// const { url = "https://myfirstfitnessblog.netlify.app/blog/page" } = Astro.props
const { url = `http://localhost:4321/blog/page`} = Astro.props
---

<div class="pageslist"> 
    { 
    pagesArray.map((page) => (
    <a href={`${url}${page}`} class="page-button">{page}</a>   
    ))
    }
</div> 