<nav id="tags">
<ul>
    <h3>Categorias:</h3>
    <li class="categorie"><a href="">Todas</a></li>
    <li class="categorie"><a href="">Masa muscular</a></li>
    <li class="categorie"><a href="">Adelgazamiento</a></li>
    <li class="categorie"><a href="">Fuerza</a></li>
    <li class="categorie"><a href="">Dietas</a></li>
    <li class="categorie"><a href="">Rutinas</a></li>
</ul>
</nav>
