
<ul id="tags">
    <li class="categorie">Masa muscular</li>
    <li class="categorie">Adelgazamiento</li>
    <li class="categorie">Fuerza</li>
    <li class="categorie">Dietas</li>
    <li class="categorie">Rutinas</li>
    <li class="categorie">Otros</li>
</ul>

