<div class="comment-section">
    <h2 class="h2comment">Deja tu comentario</h2>
    <form method="post">
        <textarea class="commentary" name="comment" placeholder="Escribe tu comentario aquí..." required></textarea>
        <button class="send-button" type="submit">Enviar</button>
    </form>
</div>