<div class="drag-area">
    <h2>Arrastra y suelta tu imagen aqui</h2>
    <span>O</span>
    <button>Selecciona tus archivos</button>
    <input type="file" id="input-file" hidden>
</div>
<div id="preview"></div>