---

---

<form class="first-option">
      <div class="images">
        
        <input type="radio" id="checkbox" name="option" value=`hiit.jpeg`/>
        <img src="../../../hiit.jpeg" alt="" class="image">
  
        <input type="radio" id="checkbox" name="option" value=`hombros.jpeg` />
        <img src="../../../hombros.jpeg" alt="" class="image">
  
        <input type="radio" id="checkbox" name="option" value=`pic1.jpeg` />
        <img src="../../../pic1.jpeg" alt="" class="image">

        <input type="radio" id="checkbox" name="option" value=`pic2.jpg` />
        <img src="../../../pic2.jpg" alt="" class="image">

        <input type="radio" id="checkbox" name="option" value=`pic3.jpeg` />
        <img src="../../../pic3.jpeg" alt="" class="image">

        <input type="radio" id="checkbox" name="option" value=`pic4.jpeg` />
        <img src="../../../pic4.jpeg" alt="" class="image">

        <input type="radio" id="checkbox" name="option" value=`pic5.jpeg` />
        <img src="../../../pic5.jpeg" alt="" class="image">

        <input type="radio" id="checkbox" name="option" value=`pic6.jpeg` />
        <img src="../../../pic6.jpeg" alt="" class="image">

        <input type="radio" id="checkbox" name="option" value=`pic7.jpeg` />
        <img src="../../../pic7.jpeg" alt="" class="image">

        <input type="radio" id="checkbox" name="option" value=`pic8.jpeg` />
        <img src="../../../pic8.jpeg" alt="" class="image">
      </div>
  </form>