---
const { totalPages, currentPage } = Astro.props;
---

<div class="pageslist"> 
    {Array.from({ length: totalPages }, (_, i) => {
        const pageIndex = i + 1;
        return (
            <a
                href={`/${pageIndex}`}
                class={`page-button ${currentPage == pageIndex ? 'active' : ''}`}
            >
                {pageIndex}
            </a>
        );
    })}
</div>