---
const response = await fetch('http://localhost:4000/api/blogs');
const data = await response.json();
const blogs = data.blogs;
const latestBlogs = [];
if (blogs.length <= 6) {
    for (const blog of blogs) {
        latestBlogs.push(blog);
    };
}else{
    for (let i = 0; i < 6; i++) {
        latestBlogs.push(blogs[i]);
    };
};

---
<h3 class="latestBlogsTitle">Ultimos blogs</h3>
<div class="articles"> 
    { 
    latestBlogs.map((blog) => (
    <article class="article">
        <a href="">
        <div class="imgContainer">
           <img src= {blog.cardImage} alt=""/>
        </div>
        <span class="date">fecha de publicacion: {blog.publicationDate}</span>
        <ul>
            {
                blog.tags.map((tag) => (
                    <li class="tag">{tag}</li>
                ))
            }
        </ul>
        <h2>{blog.title}</h2>
        </a>
    </article>   
    ))

    }
</div> 