<form action="../pages/admin-pages/index.astro" method="POST" class="form" >

    <label for="email">Correo electronico:</label>
    <input type="email" id="email" placeholder="Email" required>

    <label for="email">Contraseña:</label>
    <input type="password" id="password" placeholder="Contraseña" required>

    <button class="login-button" type="submit">Acceder</button>
</form>
    <p id="error"></p>