---
import NewsletterInput from "./React/NewsletterInput";
---

<div class="newsletter">
    <h3>Suscríbete a nuestro newsletter!</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, reprehenderit eius labore quasi fugit aliquid facilis dignissimos magnam quas itaque, obcaecati voluptas, exercitationem ut eveniet veniam perferendis. Accusamus, similique voluptates? </p>
    
    <NewsletterInput client:only/>
</div>