---
const { currentPage, totalPages } = Astro.props;
const prevPage = currentPage > 1 ? `/blog/${currentPage - 1}` : null;
const nextPage = currentPage < totalPages ? `/blog/${currentPage + 1}` : null;

---
<nav class="pagination">
    {prevPage && <a href={prevPage} class="pageUrl">Previous</a>}
    {nextPage && <a href={nextPage} class="pageUrl">Next</a>}
</nav>
