---
import "../scripts/stylesImport.js"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<title>Astro</title>
	</head>
	<body>

		<slot />
    <div id = "content" class="adminPage">
        <footer class="adminFooter">
            <a href="/admin-pages" class="adminHome">Ir a menú principal</a>
        </footer>
    </div>
	</body>
</html>

</html>

<style>
#searchresults{ 
    top: 90px;    
}
</style>
