---
import SearcherBox from "../components/SearcherBox.astro";
import SearchResults from "../components/SearchResults.astro";
import "../scripts/stylesImport.js"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<title>Astro</title>
	</head>
	<body>
        <header id="adminHeader">  
            <div id="ctn-searcher">
                <input type="text" placeholder="Buscar" id="headerSearch">
                <div id="ctn-button-icon">
                    <svg id="icon-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 
                        12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 
                        208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
                        </svg>
                </div>
                <div id="ctn-singleicon">
                    <svg id="singleicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 
                        12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 
                        208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
                        </svg>
                </div>
            </div>
        </header>

		<div id = "content" class="adminPage">
		<SearcherBox />
		<SearchResults />
		<slot />

        <footer class="adminFooter">
            <a href="/admin-pages" class="adminHome">Ir a menú principal</a>
        </footer>
    </div>
	</body>
</html>

<script>
    import "../scripts/searcherScriptForGeneral.js";
</script>
</html>

<style>
#searchresults{ 
    top: 90px;    
}
</style>
