---
import Header from "../components/Header.astro";
import SearcherBox from "../components/SearcherBox.astro";
import SearchResults from "../components/SearchResults.astro";
import "../scripts/stylesImport.js"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<title>Astro</title>
	</head>
	<body>
		<Header />
		<SearcherBox />
		<SearchResults />
	

		<slot />
		<script>
			import "../scripts/hamburger.js";
			import "../scripts/searcherScript.js";
		</script>
	</body>
</html>
